.itemsGrid{
    margin: 5% 5% 0 5%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5%;
    row-gap: 2%;
    column-gap: 0;
    align-items: center;
}

.imageStyle{
    height: 25%;
    width: 100%;
    object-fit: contain;
}

.alignDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generalView{
    height: 100vh;
}