/* Imagen del proyecto */
.mainImage{
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}
/* Main container grid */
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    margin: 2% 5% 5% 5%;
}
 /* Titulo de la card */ 
.headingStyling{
    align-self: flex-start;
}

 /* Descripción de la card */ 
.descriptionStyling{
    margin: 5%;
    text-align: left;
    align-self: flex-start;
}

 /* Ubicación del contador */ 
.stylingCounter{
    align-self: flex-end;
}

 /* Columna detalle, al costado de la imagen */ 
.detailsColumn{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    align-items: center;
}