.cartWidgetStyle{
    height: 15%;
    width: 15%;
    transition: transform 0.5s;
    filter: grayscale(1) invert(1);
}

.cartWidgetStyle:hover{
    transform: scale(1.3) rotate(15deg);
}

.amountInCartStyle{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.containerStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}