@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Contenedor card */
.itemContainer{
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.8);
    color: black;
    border-radius: 8px;
    padding: 2% 0% 5% 0%;
    transition: all 0.5s;
    cursor: pointer;
    border: 0.1px solid rgb(200, 200, 200) ;
    user-select: none;
}

.itemContainer:hover{
    transform: scale(1.01);
    filter: drop-shadow(0px 0px 15px rgb(160, 160, 160));
}

.itemContainer:active{
    transform: scale(1);
    filter: none;
}

/* Estilo imagen en card */
.imgStyling{
    height: 100%;
    width: 100%;
}

/* Texto costo donacion */ 
.textoDonacion{
    text-align: left;
    font-size: medium;
    margin: 2% 5% 5% 5%;
}

/* Texto descripción */
.descriptionText{
    font-size: medium;
    text-align: left;
    margin: 2% 5% 5% 5%;
}

/* Título cards */
h2{
    margin: 2% 5% 5% 5%;
}

/* Div size for counter and add to cart */
.divCounter{
    display: flex;
    width: 100%;
    justify-content: center;
}