@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Reseteo defaults */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* Contenedor Principal */
.contenedorNavBar{
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    min-height: 15vh;
    max-height: 15vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: 70% 30%;
    row-gap: 0;
    column-gap: 0;
    z-index: 1;
}

/* Defaults */
ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

li{
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* Customizacion top menu */
.topMenu{
    height: 100%;
    background-color: #19a134cc;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 100%;
    column-gap: 0;
    row-gap: 0;
    font-size: 13px;
    filter: drop-shadow(0px 1px 2px #000);
    color: white;
}

/* Customizacion bottom menu */
.bottomMenu{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 100%;
    column-gap: 0;
    row-gap: 0;
    font-size: 13px;
    align-items: center;
}

.bottomLink{
    color: rgb(70, 70, 70);
    transition: all 0.5s;
    text-decoration: none;
    color: black;
}

.bottomLink:hover{
    color: rgb(153, 152, 152);
}

.bottomLink:active{
    font-size: 10px;
}

/* Estilo del buscador */
.inputStyling{
    width: 80%;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    border-radius: 12px;
    padding-left: 2%;
    background-image: url("../assets/loupe.webp");
    background-repeat: no-repeat;
    background-position: 95% 20%;
    background-size: 8%

}

/* Estilo logo */
.logoClass{
    height: 10%;
    width: 10%;
    transition: all 0.5s;
}

.logoClass:active{
    transform: scale(0.5);
}