/* Contenedor del contador */
.counterContainer{
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 100%;
}

/* Botones SUMA Y RESTA de articulos */
.countButton{
    height: 30px;
    width: 13.8%;
    cursor: pointer;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    transition: all 0.5s;
    font-weight: bold;
}

.countButton:hover{
  background-color: rgb(191, 191, 191);
}

.countButton:active{
  transform: scale(0.8);
}

/* Input numerico */
.countInput{
    height: 28px;
    width: 60%;
    margin: 0 1% 0 1%;
    text-align: center;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    user-select: none;
}

/* Boton AGREGAR AL CARRITO */
.addButton{
    height: 30px;
    width: 90%;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    transition: all 0.5s;
    font-weight: bold;
}

.addButton:hover{
  background-color: rgb(191, 191, 191);
}

.addButton:active{
  transform: scale(0.9);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

