.countButton{
    height: 30px;
    width: 15%;
    cursor: pointer;
    border: 1px solid rgb(180, 180, 180);
}

.countInput{
    height: 30px;
    width: 60%;
    text-align: center;
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);;
}

.addButton{
    height: 30px;
    width: 90%;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid rgb(180, 180, 180);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

